  <!-- modal code start -->
  <div class="modal fade" id="comingsoon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark" style="position: relative; padding: 20px;">
            
            <!-- Close button with absolute positioning -->
            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 10px; right: 10px; z-index: 2;">
                <i class="fas fa-times fa-lg text-white"></i>
            </button>
  
            <div class="row justify-content-center" style="border-bottom:none !important;">
                <h1 class="modal-title fs-5 text-white mt-2" id="exampleModalLabel" style="font-size:xx-large !important;font-family: Calibri;"><strong>This Feature is Not Available</strong></h1>
            </div>
            <div class="modal-body">
                <h3 class="text-center text-white">Coming Soon!</h3>
            </div>
        </div>
    </div>
  </div>
  <!-- modal code end -->