<html>

{% extends 'base.html' %}

{% block content %}

  <!-- Demo styles -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick.css" />
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  
  



  
</head>

<body class="bg-dark">

  <div class="container">
    <h2 class="text-light">What is impact of AI on Accountants</h2>

    <h5 class="text-light mt-4">Quick Answers from Holistic Perspective</h5>

  </div>

  <!-- Section -->
  <div class="text-center m-auto">
    <div class="container py-3 bg-dark text-white" style="width: 90%;">
      <div class="row gap-3 justify-content-center">
        <!-- Card 1 -->
        <div class="col-md-3 py-3 mb-3" style="border: 2px solid white;">
        <div class="card bg-dark">
          <div class="row">
            <div class="col-md-4 d-flex align-items-start justify-content-start">
              <img src="../media/media/images/01.png" style="height: 100%; width: 100%" class="img-fluid rounded-circle" alt="...">
            </div>
            <div class="col-md-8" style="text-align: left">
              <h5 class="card-title text-light pt-3" style="color: #f1b135 !important;">Accountant</h5>
              <p class="card-text text-light" style="font-size: 14px; color: #f1b135 !important;" >Financial clarity & strategy</p>
            </div>
          </div>
          <div class="row ps-2 pt-1" style="text-align: left">
            <p class="card-text text-light" style="font-size: 14px;">
              Embrace AI for automation, maintain human judgment in complex decisions, and prioritize continuous skill development.</p>
          </div>
        </div>
      </div>


      <div class="col-md-3 py-3 mb-3" style="border: 2px solid white;">
        <div class="card bg-dark">
          <div class="row">
            <div class="col-md-4 d-flex align-items-start justify-content-start">
              <img src="../media/media/images/01.png" style="height: 100%; width: 100%" class="img-fluid rounded-circle" alt="...">
            </div>
            <div class="col-md-8" style="text-align: left">
              <h5 class="card-title text-light pt-3" style="color: #f1b135 !important;">Accountant</h5>
              <p class="card-text text-light" style="font-size: 14px; color: #f1b135 !important;" >Financial clarity & strategy</p>
            </div>
          </div>
          <div class="row ps-2 pt-1" style="text-align: left">
            <p class="card-text text-light" style="font-size: 14px;">
              Embrace AI for automation, maintain human judgment in complex decisions, and prioritize continuous skill development.</p>
          </div>
        </div>
      </div>


      <div class="col-md-3 py-3 mb-3" style="border: 2px solid white;">
        <div class="card bg-dark">
          <div class="row">
            <div class="col-md-4 d-flex align-items-start justify-content-start">
              <img src="../media/media/images/01.png" style="height: 100%; width: 100%" class="img-fluid rounded-circle" alt="...">
            </div>
            <div class="col-md-8" style="text-align: left">
              <h5 class="card-title text-light pt-3" style="color: #f1b135 !important;">Accountant</h5>
              <p class="card-text text-light" style="font-size: 14px; color: #f1b135 !important;" >Financial clarity & strategy</p>
            </div>
          </div>
          <div class="row ps-2 pt-1" style="text-align: left">
            <p class="card-text text-light" style="font-size: 14px;">
              Embrace AI for automation, maintain human judgment in complex decisions, and prioritize continuous skill development.</p>
          </div>
        </div>
      </div>



     
    </div>
  </div>
  <div class="footer bg-dark text-white text-center py-3 fixed-bottom">
    <div class="container">
      <ul class="list-inline mb-0">
        <li class="list-inline-item"><a href="#" class="text-white" style="text-decoration: none;"><h6 style="font-weight: bold">Try Pro</h6></a></li>
        <li class="list-inline-item"><a href="#" class="text-white" style="text-decoration: none;"><h6 style="font-weight: bold">FAQ</h6></a></li>
        <li class="list-inline-item"><a href="#" class="text-white" style="text-decoration: none;"><h6 style="font-weight: bold">Blog</h6></a></li>
        <li class="list-inline-item"><a href="#" class="text-white" style="text-decoration: none;"><h6 style="font-weight: bold">Privacy</h6></a></li>
        <li class="list-inline-item"><a href="#" class="text-white" style="text-decoration: none;"><h6 style="font-weight: bold">Terms</h6></a></li>
      </ul>
    </div>
  </div>
</body>
{% endblock %}
</html>