<div class="col-sm-1 mt-1 p-0 me-2 get-card-col bg-primary" style="border-radius: 10px; width: 205px; height: 266px">
    <button id="card_link" class="test-card-link h-100 border-0 get-card" data-id="99"
        style="width: 100%; background-color: #333; border-radius: 10px">
        <div class="card h-100 text-white pt-3 border-0" style="background-color: #333; border-radius: 10px">
            <div class="ratio ratio-1x1 w-50 mx-auto rounded" style="width: 90px !important; height: 90px !important">
                <img src="./media/media/images/84.png" class="card-img-top" alt="" style="border-radius: 10px" />
            </div>
            <div class="card-body">
                <h6 class="card-title" id="header_text" data-id="">Bar associations</h6>
                <h6 class="card-title" id="color_code" data-id=""></h6>
                <h6 class="card-title" id="context" data-id="" style="display: none">
                    CONTEXT: You are a top-tier lawyer. You possess extensive experience
                    and have successfully helped a diverse range of clients with various
                    needs within your field of expertise. INSTRUCTIONS: Generate a TABLE
                    with two columns, one with numbers and one with 10 unconventional and
                    best practices to assist Bar associations. After the table is
                    generated, ask the question “Please select a strategy to assist Bar
                    associations from the table above. This will generate five
                    unconventional real world case studies and expert best practices."
                    below the table. Wait for the user to pick a number. Execute the
                    instructions in a TABLE format
                </h6>
                <h6 class="card-title" id="category_id" data-id="" style="display: none"></h6>
                <p class="card-text context" style="font-size: small !important; font-weight: 200 !important">
                    We streamline legal processes for Bar associations
                </p>
                <span class="badge rounded-circle category-title float-end shadow-lg" data-color="" style="
            display: block;
            width: 3px;
            height: 13px;
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: #d51aa3;
          "></span>
            </div>
        </div>
    </button>
</div>